# Overview
This notebook contains my work for acquisition and preparation of the scraped dyno run data.

# Imports

In [1]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import re

import wrangle

# Car Info CSV work
Let's look at car_info.csv first.

In [2]:
# ingest car info csv
info = pd.read_csv('car_info.csv')
info

,Run,Date,Car,Name,Specs
0,4,11-08-2009 05:51 pm,2009 Nissan GT-R,GOTO:Racing,"Stock engine internals, AMS turbo upgrade, Dea..."
1,5,10-21-2009 01:08 pm,2002 Subaru Impreza WRX,Neil Bywater,"2.5L Sti longblock (No avcs)FP Green, APS 525 ..."
2,31,11-12-2009 10:56 am,2010 Nissan GT-R,Jason McCartney,2010 GTR - Completely stock - 100 octane fuel ...
3,32,11-12-2009 10:57 am,2010 Nissan GT-R,Mike Cheng,2010 GTR - stock with high flow downpipe - 94 ...
4,33,11-02-2009 10:58 am,2009 Nissan GT-R,Dave Pickering,2009 GTR - stage 2 with full exhaust and stock...
...,...,...,...,...,...
4950,5926,10-13-2017 12:25 pm,2016 Volkswagen Golf R,COBB Tuning,Stage 1
4951,5927,10-13-2017 12:25 pm,2016 Volkswagen Golf R,COBB Tuning,Stage 2
4952,5933,10-13-2017 12:47 pm,2016 Volkswagen Golf R,COBB Tuning,Stock
4953,5934,10-13-2017 12:47 pm,2016 Volkswagen Golf R,COBB Tuning,Stage 1 High Boost
4954,5936,10-13-2017 12:48 pm,2016 Volkswagen Golf R,COBB Tuning,Stage 3

In [3]:
# check nulls
info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4955 entries, 0 to 4954
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Run     4955 non-null   int64
 1   Date    4955 non-null   object
 2   Car     4955 non-null   object
 3   Name    4955 non-null   object
 4   Specs   4955 non-null   object
dtypes: int64(1), object(4)
memory usage: 193.7+ KB

**Looks good, we will need to do a few things before Explore:**
- Split the Car column into year, make, and model columns
- Convert the Date column to a datetime format
- Split the runs into Train, Validate, and Test

## 'Car' column split into year, make, and model columns

In [4]:
# checking how we could split the Car column
print(info.Car.unique()[:10].tolist())

['2009 Nissan GT-R', '2002 Subaru Impreza WRX', '2010 Nissan GT-R', '2004 Subaru Impreza WRX STI', '2010 Mazda Mazdaspeed3', '2006 Subaru Impreza WRX STI', '2009 Honda Civic Si', '2007 Mazda Mazdaspeed3', '2005 Subaru Outback XT', '1998 Subaru Impreza RS']

In [5]:
# using first-4 characters as year
info['car_year'] = info.Car.str[:4]
info.car_year.sample(3, random_state=1)

1271    2010
2360    2008
2369    2011
Name: car_year, dtype: object

In [6]:
# splitting the rest of the string into make and model
make_model = info.Car.str.extract(r'\W(.*?)\W(.*?)$')
# using the second word as the make
info['car_make'] = make_model[0]
# using the last portion as the model
info['car_model'] = make_model[1]

# check work
info.head(3)

,Run,Date,Car,Name,Specs,car_year,car_make,car_model
0,4,11-08-2009 05:51 pm,2009 Nissan GT-R,GOTO:Racing,"Stock engine internals, AMS turbo upgrade, Dea...",2009,Nissan,GT-R
1,5,10-21-2009 01:08 pm,2002 Subaru Impreza WRX,Neil Bywater,"2.5L Sti longblock (No avcs)FP Green, APS 525 ...",2002,Subaru,Impreza WRX
2,31,11-12-2009 10:56 am,2010 Nissan GT-R,Jason McCartney,2010 GTR - Completely stock - 100 octane fuel ...,2010,Nissan,GT-R

In [7]:
# drop redundant Car column
info = info.drop(columns='Car')
info.head(3)

,Run,Date,Name,Specs,car_year,car_make,car_model
0,4,11-08-2009 05:51 pm,GOTO:Racing,"Stock engine internals, AMS turbo upgrade, Dea...",2009,Nissan,GT-R
1,5,10-21-2009 01:08 pm,Neil Bywater,"2.5L Sti longblock (No avcs)FP Green, APS 525 ...",2002,Subaru,Impreza WRX
2,31,11-12-2009 10:56 am,Jason McCartney,2010 GTR - Completely stock - 100 octane fuel ...,2010,Nissan,GT-R

## Datetime column

In [8]:
# capture date and time into columns
date_time = info.Date.str.extract(r'^(.*?) (.*?)$')

In [9]:
# show discrepancy in date
date_time[0].unique().tolist()[53:58]

['10-27-2009', '11-05-2009', '10-26-2009', '11-30--0001', '12-01-2009']

Runs are chronological from what I can tell, I bet we can fix the discrepancy with the correct year...

In [10]:
# check runs where with the incorrect year
info[info.Date.str.contains('11-30--0001')]

,Run,Date,Name,Specs,car_year,car_make,car_model
98,160,11-30--0001 04:00 pm,Joey Hauser,98 Octane,2008,Mitsubishi,EVO X
117,180,11-30--0001 04:00 pm,Jeff Sponaugle,"Built 2.5L, GT30R .63 Rotated Kit, 92 Octane",2008,Subaru,Impreza WRX STI
118,181,11-30--0001 04:00 pm,Jeff Sponaugle,"Built H6, Custom GT35R Kit, 92 Octane",2002,Subaru,Impreza WRX
119,182,11-30--0001 04:00 pm,Jeff Sponaugle,"Built H6, Custom GT35R Kit, 100 Octane",2002,Subaru,Impreza WRX
120,183,11-30--0001 04:00 pm,Tim Bailey,"Built 2.5L, Cosworth Heads & Cams, GT35R, AEM ...",2004,Subaru,Impreza WRX STI
216,299,11-30--0001 04:00 pm,Sage Merrill,"Evo3 16g, TMIC, 750cc Injectors, SF Intake, 18...",2002,Subaru,Impreza WRX
217,300,11-30--0001 04:00 pm,Sage Merrill,"Evo3 16g, TMIC, 750cc Injectors, SF Intake, 16...",2002,Subaru,Impreza WRX
1338,1625,11-30--0001 03:35 pm,Mark Dickins,Stage 2 19psi 91 Octane,2007,Subaru,Impreza WRX STI
1339,1626,11-30--0001 04:34 pm,Mark Dickins,Stage 2 21psi E85,2007,Subaru,Impreza WRX STI
1404,1695,11-30--0001 04:41 pm,RUF RUF,Stock Baseline,2007,Porsche,911
1406,1697,11-30--0001 06:12 pm,David Liu,Stock Run,1996,Mazda,MX-5/Miata
2139,2503,11-30--0001 05:21 pm,Mike McCall,"AP Stg 2 93 v300 - 2; AA Downpipes, Berk Catba...",2008,BMW,135i
2467,2883,11-30--0001 12:33 pm,Scott Bowman,1M Final Aggressive Stage1,2011,BMW,1M
2468,2884,11-30--0001 11:04 am,Scott Bowman,1M stock cntrl,2011,BMW,1M
2949,3403,11-30--0001 03:42 pm,Scott Bowman,stock flash cntrl,2011,BMW,1M
2950,3404,11-30--0001 11:59 am,Scott Bowman,stage 1 aggr v401,2011,BMW,1M
2951,3405,11-30--0001 04:14 pm,Scott Bowman,stage1 Sport v401,2011,BMW,1M
2952,3406,11-30--0001 11:02 am,Scott Bowman,stage1+FMIC Sport v401,2011,BMW,1M
2953,3407,11-30--0001 05:11 pm,Scott Bowman,Stage1+FMIC Aggr Final,2011,BMW,1M
2954,3408,11-30--0001 03:11 pm,Scott Bowman,stage2+FMIC sport v401,2011,BMW,1M
2955,3409,11-30--0001 03:56 pm,Scott Bowman,stage2+FMIC AGGR v401,2011,BMW,1M
3522,4133,11-30--0001 07:47 pm,Anonymous 11,Stage1 Aggressive Alpha 135 DCT,2012,BMW,135i
3523,4134,11-30--0001 07:47 pm,Anonymous 11,Stock Flash,2012,BMW,135i
3524,4135,11-30--0001 07:47 pm,Anonymous 11,Stage1 Aggressive Alpha 135 DCT,2012,BMW,135i
3525,4136,11-30--0001 07:47 pm,Anonymous 11,Stock Flash,2012,BMW,135i
3652,4299,11-30--0001 11:30 am,COBB Tuning,Stage0 Stock Cat Cntrl,2011,BMW,335i
3653,4300,11-30--0001 11:30 am,COBB Tuning,Stage0 COBB Cat Cntrl,2011,BMW,335i
3654,4301,11-30--0001 02:22 pm,COBB Tuning,stage2 agg Cntrl Stock DP,2011,BMW,335i
3655,4302,11-30--0001 02:22 pm,COBB Tuning,stage2 agg Cntrl COBB DP,2011,BMW,335i

In [11]:
def run_date_fixer(col):
    """ Pass back the previous and next run numbers for erroneous run date runs, if available """
    col_prev = col - 1
    col_next = col + 1
    new_col = col.append(col_prev).append(col_next).tolist()
    return new_col

In [12]:
# get list of runs
run_checks = run_date_fixer(info[info.Date.str.contains('11-30--0001')].Run)

# check work
run_checks.sort()
print(run_checks)

[159, 160, 161, 179, 180, 180, 181, 181, 181, 182, 182, 182, 183, 183, 184, 298, 299, 299, 300, 300, 301, 1624, 1625, 1625, 1626, 1626, 1627, 1694, 1695, 1696, 1696, 1697, 1698, 2502, 2503, 2504, 2882, 2883, 2883, 2884, 2884, 2885, 3402, 3403, 3403, 3404, 3404, 3404, 3405, 3405, 3405, 3406, 3406, 3406, 3407, 3407, 3407, 3408, 3408, 3408, 3409, 3409, 3410, 4132, 4133, 4133, 4134, 4134, 4134, 4135, 4135, 4135, 4136, 4136, 4137, 4298, 4299, 4299, 4300, 4300, 4300, 4301, 4301, 4301, 4302, 4302, 4303]

In [13]:
# use run_checks list to pass back rows with that run number
info[info.Run.isin(run_checks[:20])]

,Run,Date,Name,Specs,car_year,car_make,car_model
97,159,10-26-2009 11:38 am,Jake Zvirzdys,"Stage 2, 92 Octane",2006,Subaru,Impreza WRX
98,160,11-30--0001 04:00 pm,Joey Hauser,98 Octane,2008,Mitsubishi,EVO X
99,161,12-07-2009 11:42 am,John Wulf,"Stage 2, AEM Intake, AVO TMIC, 17.5psi, 92 Octane",2006,Subaru,Legacy 2.5GT
116,179,10-08-2009 03:38 pm,Tad Ogland,"Stage 2, 92 Octane",2008,Mitsubishi,EVO X GSR
117,180,11-30--0001 04:00 pm,Jeff Sponaugle,"Built 2.5L, GT30R .63 Rotated Kit, 92 Octane",2008,Subaru,Impreza WRX STI
118,181,11-30--0001 04:00 pm,Jeff Sponaugle,"Built H6, Custom GT35R Kit, 92 Octane",2002,Subaru,Impreza WRX
119,182,11-30--0001 04:00 pm,Jeff Sponaugle,"Built H6, Custom GT35R Kit, 100 Octane",2002,Subaru,Impreza WRX
120,183,11-30--0001 04:00 pm,Tim Bailey,"Built 2.5L, Cosworth Heads & Cams, GT35R, AEM ...",2004,Subaru,Impreza WRX STI
121,184,11-30-2009 03:46 pm,Tim Diens,"Stock, 92 Octane",2009,Subaru,Impreza WRX STI
215,298,01-01-2010 05:08 pm,Lance Lucas,"GT35R .82, Built 2.5L Longblock, 272 Cams, 21-...",2004,Subaru,Impreza WRX
216,299,11-30--0001 04:00 pm,Sage Merrill,"Evo3 16g, TMIC, 750cc Injectors, SF Intake, 18...",2002,Subaru,Impreza WRX
217,300,11-30--0001 04:00 pm,Sage Merrill,"Evo3 16g, TMIC, 750cc Injectors, SF Intake, 16...",2002,Subaru,Impreza WRX

Based on the need to clean 'Date' column and the lack of value it provides, I'll just drop the 'Date' column.

In [14]:
# drop Date column
info = info.drop(columns='Date')
info.head(3)

,Run,Name,Specs,car_year,car_make,car_model
0,4,GOTO:Racing,"Stock engine internals, AMS turbo upgrade, Dea...",2009,Nissan,GT-R
1,5,Neil Bywater,"2.5L Sti longblock (No avcs)FP Green, APS 525 ...",2002,Subaru,Impreza WRX
2,31,Jason McCartney,2010 GTR - Completely stock - 100 octane fuel ...,2010,Nissan,GT-R

Looks good- we'll split our data after we look into dyno_runs.csv next.

# Dyno Runs CSV work
Now let's look at dyno_runs.csv.

In [15]:
# ingest run data
runs = pd.read_csv('dyno_runs.csv', index_col=0)
runs

          Run     RPM      HP  Torque   AFR  Boost
0           4  2200.0  106.10  252.50  7.47   4.12
1           4  2300.0  145.80  333.10  7.48   5.43
2           4  2400.0  177.90  389.50  7.48   6.78
3           4  2500.0  202.30  424.90  7.48   8.15
4           4  2600.0  221.80  447.90  7.48   9.55
...       ...     ...     ...     ...   ...    ...
2044935  5951     3.0  151.91  316.87   NaN    NaN
2044936  5951     4.0  253.33  380.61   NaN    NaN
2044937  5951     5.0  300.56  349.22   NaN    NaN
2044938  5951     6.0  305.76  292.02   NaN    NaN
2044939  5951     7.0  291.41  234.79   NaN    NaN

[2044940 rows x 6 columns]

In [16]:
# check nulls
runs.isna().sum()

Run            0
RPM         7214
HP             0
Torque         0
AFR       199729
Boost     197572
dtype: int64

In [17]:
# figure out which runs have nulls in RPM column
null_RPM_runs = runs[runs.RPM.isna()].Run.unique().tolist()
print(null_RPM_runs)

[978, 979, 1578, 3266, 3454, 3498, 3631, 3632, 3682, 4022, 4023, 4330, 4331, 4652, 4670, 4671, 4672, 5025, 5380, 5403, 5407, 5434]

In [18]:
# check if all RPM values are null in these runs, or just partially null
runs[runs.Run.isin(null_RPM_runs)].RPM.isna().sum()

7214

All RPM values are null in these runs. Let's see if there's a clue in car_info.csv as to why.

In [19]:
# check car info for runs with nulls in RPM
info[info.Run.isin(null_RPM_runs)]

,Run,Name,Specs,car_year,car_make,car_model
3102,3682,David Palmer,"91 oct, COBB downpipe, COBB AP+PRoTUne",2010,Subaru,Forester

Okay, it seems these runs don't exist in car_info.csv. Only one run does. We will therefore drop all rows with nulls in the RPM column.

In [20]:
# drop nulls
runs = runs[runs.RPM.notna()].reset_index(drop=True)

Now let's see if dropping the runs with nulls in AFR or Boost is fine.

In [21]:
# check percentage of rows with nulls in either AFR or Boost columns
print(str(int((runs.AFR.isna() | runs.Boost.isna()).sum() / runs.shape[0] * 100)) + '%')

15%

In [22]:
# is the Boost column less than 15%?
print(str(int(runs.Boost.isna().sum() / runs.shape[0] * 100)) + '%')

9%

So, I'm going to drop the 'AFR' column and drop rows with nulls in the 'Boost' column. Let me explain why.

**Why I'm dropping the 'AFR' column:**
1. A balance in air-fuel ratio (AFR) provides the most horsepower, and this ratio is manually adjusted
2. This balance point is different for different cars and setups
3. The car variety in this dataset is too diverse to consider raw values in AFR
4. Analysis of AFR on a car-by-car basis is possible, but not valuable to a general audience owning various vehicles

**Why I'm only dropping nulls in the Boost column:**
1. In nearly all cases, as boost increases, power increases
2. The few potential exceptions to this relationship will likely be explained by the parts in the 'Specs' column
3. Raw increases in 'Boost' values will show increases in horsepower, so it's valuable to keep this as a feature

In [23]:
# dropping AFR column
runs = runs.drop(columns = 'AFR')

# dropping rows with nulls in Boost column
runs = runs[runs.Boost.notna()]

# check work
runs.isna().sum()

Run       0
RPM       0
HP        0
Torque    0
Boost     0
dtype: int64

Looks good, I'll push these changes to wrangle.py now.

Checking if the changes worked...

In [24]:
# acquire, clean, and split data using script
info_train, runs_train = wrangle.prep_explore()

In [25]:
# check if run numbers in train split are the same
info_train.run.sort_values().unique().tolist() == runs_train.run.sort_values().unique().tolist()

True

# Exploration Re-Wrangle
In Explore I noticed more prep that needs to be done with the data, below captures that work.

In [26]:
pd.set_option('display.max_colwidth', None)
info = info.reset_index(drop=True)
info

,Run,Name,Specs,car_year,car_make,car_model
0,4,GOTO:Racing,"Stock engine internals, AMS turbo upgrade, Deatschwerks 800cc injectors, full catless 3"" open exhaust, Harman Motive custom 3.1"" ID intake with stock MAF sensors, 100 octane unleaded fuel",2009,Nissan,GT-R
1,5,Neil Bywater,"2.5L Sti longblock (No avcs)FP Green, APS 525 FMIC, APS 65mm intake Cobb turbo-back, APS turbo inlet, DW 850 injectors",2002,Subaru,Impreza WRX
2,31,Jason McCartney,2010 GTR - Completely stock - 100 octane fuel - Cobb stage 1 v110 100 octane beta,2010,Nissan,GT-R
3,32,Mike Cheng,2010 GTR - stock with high flow downpipe - 94 octane - COBB v110 beta stage 2 tune,2010,Nissan,GT-R
4,33,Dave Pickering,2009 GTR - stage 2 with full exhaust and stock downpipes - cobb v110 stage 2 92 octane beta,2009,Nissan,GT-R
...,...,...,...,...,...,...
4950,5926,COBB Tuning,Stage 1,2016,Volkswagen,Golf R
4951,5927,COBB Tuning,Stage 2,2016,Volkswagen,Golf R
4952,5933,COBB Tuning,Stock,2016,Volkswagen,Golf R
4953,5934,COBB Tuning,Stage 1 High Boost,2016,Volkswagen,Golf R
4954,5936,COBB Tuning,Stage 3,2016,Volkswagen,Golf R

In [27]:
def check_non_keywords(df, col):
    """ Check value counts of words I did not designate as keywords in product names """
    # check all rows without keywords for each unique word's value counts in entire list
    print(
        pd.Series( # make a Series of each instance of each word
            ' '.join(
                    df[~df.has_keyword]    # look at rows we haven't caught with a keyword yet
                    [col].tolist()        # put all 'name' cells in a list
                    ).split()        # join all lists into one string, then split the string into a list of each word
        ).value_counts()        # calculate the value counts of each word in the series
        .head(20)         # display the top 10 (changed from 30 to 10 after the words I wanted were captured)
    )

In [28]:
info['has_keyword'] = False

In [29]:
check_non_keywords(info, 'Specs')

COBB           3437
Tuning         2859
Octane         2384
92             1627
AccessPORT,    1241
Perrin         1044
93             1002
Stage           899
-               880
Intake,         832
SF              698
Fuel            625
Injectors,      597
2               583
FMIC,           491
3               464
Catless         460
Turboback,      458
Downpipe,       446
E85             421
dtype: int64

## PSI

In [30]:
# capture boost psi into new column
info['psi'] = info.Specs.str.extract(r'^.*\b(\d*\.*\d*)\s?[Pp][Ss][Ii].*$')[0]

In [31]:
# fix '(number) Peak PSI' issue
newthing = info.Specs.str.extract(r'^.*\b(\d\d\.\d) Peak PSI.*$')
indices = newthing[newthing[0].notna()].index
for ind in indices:
    info.loc[ind, 'psi'] = newthing[0][ind]

In [32]:
# check if 'Peak PSI' has a number in the 'psi' column now
info[info.Specs.str.contains('Peak PSI')]

,Run,Name,Specs,car_year,car_make,car_model,has_keyword,psi
731,928,COBB Tuning,Stage 2 OTS Mapping- 17.5 Peak PSI- 93 Octane,2010,Subaru,Legacy 2.5GT,False,17.5
732,929,COBB Tuning,Stage 2 OTS Mapping- 14.5 Peak PSI- 91 Octane,2010,Subaru,Legacy 2.5GT,False,14.5

In [33]:
# indicate in new column if Specs has 'psi' in it
info['has_psi'] = info.Specs.str.contains('PSI|psi')

In [34]:
# check all occurences where 'psi' is null but Specs does have a 'psi'
info[(info.has_psi) & (info.psi.isna())][['Specs','psi','has_psi']]

Empty DataFrame
Columns: [Specs, psi, has_psi]
Index: []

Looks good for PSI, let's do fuel octane now.

## Octane

In [35]:
info['octane'] = info.Specs.str.extract(r'^.*\b(\d+)[,\s]?\s?[Oo][Cc][Tt].*$')
info['has_octane'] = info.Specs.str.contains('Octane|octane')
info[(info.has_octane) & (info.octane.isna())][['Specs','octane','has_octane']]

,Specs,octane,has_octane
580,FP Green 20psi E85 Octane Sport#,NaN,True
2412,"COBB Socal Tuned ""Sport"" map, HKS DP, Midpipe and CBE. GotBoost 3"" intakes. 91 CA Octane :-(",NaN,True
2413,"COBB Socal Tuned ""Mild"" map, HKS DP, Midpipe and CBE. GotBoost 3"" intakes. 91 CA Octane :-(",NaN,True
2414,"SP Eng map, HKS DP, Midpipe and CBE, Panel filters. 91 CA Octane :-(",NaN,True
4460,"ANC91 Octane - Added Blouch Dom1.5XTR Turbo, COBB 1300s",NaN,True
4905,ByDesign StageIV - ACN91 Octane,NaN,True

In [36]:
# octane overall capture
info['octane'] = info.Specs.str.extract(r'^.*\b(\d+)[,\s]?\s?[Oo][Cc][Tt].*$')
# 93 octane fuel
octane_93_indices = info[info.Specs.str.contains(' 93 ')].index
for ind in octane_93_indices:
    info.loc[ind, 'octane'] = 93
# 91 octane fuel
octane_91_indices = info[info.Specs.str.contains('ACN91|ANC91|91 CA| 91 ')].index
for ind in octane_91_indices:
    info.loc[ind, 'octane'] = 91
# 104 octane fuel
octane_104_indices = info[info.Specs.str.contains('104')].index
for ind in octane_104_indices:
    info.loc[ind, 'octane'] = 104
# e85 fuel
e85_indices = info[info.Specs.str.contains('E85|E-85')].index
for ind in e85_indices:
    info.loc[ind, 'octane'] = 105
# MS109 fuel
ms109_indices = info[info.Specs.str.contains('MS109')].index
for ind in ms109_indices:
    info.loc[ind, 'octane'] = 109

In [37]:
info[(info.has_octane) & (info.octane.isna())][['Specs','octane','has_octane']]

Empty DataFrame
Columns: [Specs, octane, has_octane]
Index: []

Looks good for Octane, let's move on to the AccessPORT, which is a modification to the ECU. In layman's terms it adjusts the car's computer so that the car performs better.

## AccessPORT, OTS, Stage 1, Stage 2, Stage 3

In [38]:
info[info.Specs.str.contains('OTS|Stage')]

,Run,Name,Specs,car_year,car_make,car_model,has_keyword,psi,has_psi,octane,has_octane
7,56,Nick Blake,Stage 2 - E-85 - DW 1000cc - 20psi,2002,Subaru,Impreza WRX,False,20,True,105,False
8,57,Nick Blake,Stage 2 - E-85 - DW 1000cc - 22psi,2002,Subaru,Impreza WRX,False,22,True,105,False
9,58,Ocean Clark,Stage 2,2002,Subaru,Impreza WRX,False,NaN,False,NaN,False
11,61,Tony Throop,"Stage 2, Cobb TBE, Cobb SF Intake",2004,Subaru,Impreza WRX STI,False,NaN,False,NaN,False
14,64,COBB Tuning,"Stage 3 - TD06H-20G w/7cm 2 Turbine Housing, APS DR525 FMIC, COBB Turbo Back Ext. 24psi E85",2006,Subaru,Impreza WRX STI,False,24,True,105,False
...,...,...,...,...,...,...,...,...,...,...,...
4949,5924,COBB Tuning,Stage1 100 OCT or 102 RON v210,2017,Porsche,Macan 2.0L,False,NaN,False,100,False
4950,5926,COBB Tuning,Stage 1,2016,Volkswagen,Golf R,False,NaN,False,NaN,False
4951,5927,COBB Tuning,Stage 2,2016,Volkswagen,Golf R,False,NaN,False,NaN,False
4953,5934,COBB Tuning,Stage 1 High Boost,2016,Volkswagen,Golf R,False,NaN,False,NaN,False
4954,5936,COBB Tuning,Stage 3,2016,Volkswagen,Golf R,False,NaN,False,NaN,False